*{
    font-family: "Life Savers", serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;  
    padding: 15px 40px;
}
a:hover{
    background-color: lightgreen;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    gap: 30px;
}
nav{
    height: 56px;
}
#top1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 700px;
}
#kreska{
    border-left: 1px solid rgb(214, 214, 214);
    height: 100%;
}
#login{
    border: 1px solid orange;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}
#login:hover{
    background-color: transparent;
}
#top2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(214, 214, 214);
}
#recenzja{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(214, 214, 214);
    height: 40px;
}
#recenzja img{
    width: 150px;
    height: 24px;
}
h1{
    font-size: 60px;
    font-weight:1000;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(obrazy/dots.svg);
    background-color: rgb(252, 253, 243);
    padding-top: 50px;
}
input{
    width: 678px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 15px;
    color: gray;
    background-color: #f7f7f7;
}
button{
    width: 105px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 200, 0);
    font-weight: bold;
}
#wybor_oferty{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.darmo{
    background-color: #fec600;
    border: 1px solid #f6c844;
    padding: 5px;
    border-radius: 5px;
}
article{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgb(214, 214, 214);
    padding: 20px;
    background-color: white;
}
h3{
    font-size: 30px;
}
#napis_koniec{
    font-size: 20px;
}
#napis_koniec:hover{
    background-color: transparent;
}
.gray{
    color: gray;
}